body {
	display: block;
	background-color: white;
}

textarea{
resize: none;
}

.mainbody div {
	font-family: Trebuchet;
	background-color: #A5D5F9;
	border-radius: 2px;
	opacity: .3;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-bottom: 0px;
}

.navigationbar li{
	font-size: 20px;
	font-family: Trebuchet;
	display:inline-block;
	margin-left: 1%;
	border-radius: 5px;
	color: #0B0102;
	opacity: .99;
}

.navigationbar{
	font-size: 0;
	background-color: #2785BC;
	list-style-type: none;
	padding: 10px;
	opacity: .85;
	border-radius: 3px;
}

.backgrounds{
	background-color: #2AADF3;
	border-radius: 7px;
	opacity: 1.0;
}

.highlight {
	background-color: #A5D5F9;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

.timeSince {
	color: #1872B0;
}