body {
	display: block;
	background-color: #E1F9FF;
}

.mainbody div {
	font-family: Trebuchet;
	background-color: white;
	border-radius: 2px;
}

.navigationbar li{
	font-size: 20px;
	font-family: Trebuchet;
	display:inline-block;
	margin-left: 1%;
	border-radius: 5px;
}

.navigationbar{
	font-size: 0;
	background-color: red;
	list-style-type: none;
	padding: 10px;
}

.backgrounds{
	background-color: white;
	border-radius: 3px;
}